<!doctype html>
{% load static %}
<html>
    {% include 'akademia/head.html' %}
    <body>
        {% include 'akademia/header.html' %}
        <div id="content">
            <div class="wrapper">
                <div class="navigation">
                    {% for category in navigation %}
                    <a href="/{{ top_category.name }}/{{ category.navigation_section }}">{{ category.label }}</a>
                    {% endfor %}
                </div>
                <article class="article">
                    <h1>{{ article.title }}</h1>
                    {% if article.image %}
                    <img class="article_image" src="/upload/{{ article.image }}" />
                    {% endif %}
                    <div class="article_content">
                        {{ article.formatted_content | safe }}
                    </div>
                </article>
            </div>
        </div>
        {% include 'akademia/footer.html' %}
    </body>
</html>