<!doctype html>
{% load static %}
<html>
    {% include 'akademia/head.html' %}
    <body>
        {% include 'akademia/header.html' %}
        <div id="content">
            <div id="banner"><p>AKADEMIA WIEDZY</p></div>
            <div class="wrapper">
                <h1 id="head-{{ category.name }}">{{ category.label }}</h1>
                {% if category.is_custom %}
                    {% include category.custom_template_url %}
                {% else %}
                {% if category.has_any_entries %}
                {% if category.is_gallery %}
                    {% include 'akademia/galleries.html' %}
                {% else %}
                {% for subcategory in category.subcategories %}
                {% if subcategory.has_any_entries %}
                    <h2 id="head-{{ subcategory.name }}">{{ subcategory.label }}</h2>
                    <div class="entries {{ subcategory.entry_css }}">
                        {% for article in subcategory.articles %}
                        {% include 'akademia/entry.html' %}
                        {% endfor %}
                        {% if subcategory.subcategories %}
                        <div class="tabs">
                            {% for tab in subcategory.subcategories %}
                            <button class="tab_button {{ tab.active }}" data-tab-name="{{ tab.name }}">{{ tab.label }}</button>
                            {% endfor %}
                        </div>
                        {% for subcategory in subcategory.subcategories %}
                        <div class="entries {{ subcategory.entry_css }} {{ subcategory.active }}" data-tab-id="{{ subcategory.name }}">
                            {% for article in subcategory.articles %}
                            {% include 'akademia/entry.html' %}
                            {% endfor %}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% else %}
                    <p class="no_articles">Nie znaleziono żadnych artykułów.</p>
                {% endif %}
                {% endif %}
            </div>
        </div>
        {% include 'akademia/footer.html' %}
    </body>
</html>