{% load static %}
<div id="contact_grid">
    <div id="contact_form">
        <div class="contact_data">
            Kujawsko-Pomorskie, Poland<br>
            <a href="tel:+48 501 537 115">+48 501 537 115</a><br>
            <a href="mailto:poczta@akademiawiedzy.pl">poczta@akademiawiedzy.pl</a>
        </div>
        <form>
            <input placeholder="Imię" />
            <input placeholder="Telefon" />
            <input placeholder="Adres email" />
            <textarea placeholder="Wiadomość"></textarea>
            <button>Wyślij</button>
        </form>
    </div>
    <div id="contact_links">
        <a href="http://moodle.akademiawiedzy.pl/login/index.php">
            <img src="{% static 'akademia/images/moodle_icon.svg' %}" alt="Moodle logo"/>
            <p>LOGOWANIE DO ZASOBÓW MOODLE</p>
        </a>
        <a href="https://poczta5805.ibc.pl/">
            <img src="{% static 'akademia/images/webmail_icon.svg' %}" alt="Webmail logo">
            <p>LOGOWANIE DO POCZTY</p>
        </a>
    </div>
</div>