<div class="entry">
    {% if article.image and not subcategory.show_image_as_cover %}
    <img class="entry_image" src="/upload/{{ article.image }}"/>
    {% elif article.image %}
    <a href="/{{ category.name }}/{{ article.slug_name}}" class="entry_image" style="background-image: url('/upload//{{ article.image }}')" ></a>
    {% elif subcategory.show_image_as_cover %}
    <a href="/{{ category.name }}/{{ article.slug_name}}" class="entry_image no_image" ></a>
    {% endif %}
    <div class="title_and_text">
        {% if subcategory.show_title %}
        {% if subcategory.title_link %}
        <h3><a href="/{{ category.name }}/{{ article.slug_name}}">{{ article.title }}</a></h3>
        {% else %}
        <h3>{{ article.title }}</h3>
        {% endif %}
        {% endif %}
        {% if subcategory.show_text %}
        <div class="text_wrapper">
            <div class="text">
                {% if subcategory.show_text == 'excerpt' %}
                {{ article.excerpt | safe }}
                {% elif subcategory.show_text == 'full' %}
                {{ article.formatted_content | safe }}
                {% endif %}
                {% if subcategory.show_more %}
                <a class="more" href="/{{ category.name }}/{{ article.slug_name}}">więcej</a>
                {% endif %}
            </div>
        </div>
        {% elif subcategory.show_more %}
        <a class="more" href="/{{ category.name }}/{{ article.slug_name}}">więcej</a>
        {% endif %}
    </div>
</div>