<!doctype html>
{% load static %}
<html>
    {% include 'akademia/head.html' %}
    <body>
        {% include 'akademia/header.html' %}
        <div id="content">
            <div class="error_wrapper">
                <h1>Błąd {{ error }}</h1>
                <p class="error_text">{{ text }}</p>
            </div>
        </div>
        {% include 'akademia/footer.html' %}
    </body>
</html>