{% load static %}
{% if category.galleries_number > 1 %}
    <div class="gallery_picker">
    {% for gallery in category.galleries %}
        <button class="tab_button {{ gallery.active }}" data-tab-name="{{ gallery.name }}">{{ gallery.title }}</button>
    {% endfor %}
    </div>
{% endif %}
    {% for gallery in category.galleries %}
    <div class="entries {{ category.entry_css }} {{ gallery.active }}" data-tab-id="{{ gallery.name }}">
        {% for image in gallery.images %}
            <div class="gallery_image">
                <button class="image" style="background-image: url('/upload/{{ image.url }}');"></button>
            </div>
        {% endfor %}
    </div>
    <div class="fullscreen_gallery">
        <div class="navigation"><img class="arrow-left" src="{% static 'akademia/arrow.svg' %}"/></div>
        <div class="images">
        {% for image in gallery.images %}
            <img class="image" src="/upload/{{ image.url }}"/>
        {% endfor %}
        </div>
        <div class="navigation"><img class="arrow-right" src="{% static 'akademia/arrow.svg' %}"/></div>
        <div class="thumbnails"></div>
    </div>
    {% endfor %}