{% load compress %}
{% load static %}
<head>
    <link rel="icon" type="image/x-icon" href="{% static 'akademia/icon_2_228.png' %}"/>
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'akademia/css/style.scss' %}" />
    {% endcompress %}
    <script type="module" src="{% static 'akademia/js/script.js' %}"></script>
    <title>Akademia Wiedzy</title>
</head>