{% load static %}
<div id="header">
    <div class="wrapper">
        <a href="/">
            <img id="logo" src="{% static 'akademia/images/logo.webp' %}" alt="Akademia Wiedzy"/>
        </a>
        <div class="menu">
            {% for category in menu %}
            <div class="menu_entry">
                <a href="{{ category.hyperlink }}">{{ category.label }}</a>
                {% if category.subcategories %}
                <div class="submenu">
                    {% for subcategory in category.subcategories %}
                    <a href="{{ subcategory.hyperlink }}">{{ subcategory.label }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            
            </div>
            {% endfor %}
            <a href="https://www.facebook.com/groups/1628662014261837"><i class="icofont-facebook"></i></a>
        </div>
    </div>
</div>