<!doctype html>
{% load compress %}
<html>
    <head>
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'akademia/css/main.scss' %}" />
        {% endcompress %}
    </head>
    <body>
        <div id="header"></div>
        <div id="content">
        </div>
        <div id="footer"></div>
    </body>
</html>
