@import url('../fonts/icofont/icofont.css');

$blue: #083987;
$blue-light: #7aa4ec;
$yellow: rgb(246, 226, 2);
$hover-transition: color .5s;

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather/Merriweather-Regular.ttf');
}

* {
    box-sizing: border-box;
}

a {
    color: $blue;
    text-decoration: none;
    transition: $hover-transition;
    &:hover{
        color: $blue-light;
    }
}

body {
    margin: 0;
    background-color: #f7f9f8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Merriweather;
}

$header-height: 100px;
$footer-height: 200px;

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0,0,0,.5);
    z-index: 10;
    .wrapper {
        display: flex;
        height: 100%;
        justify-content: space-between;
    }
}

#logo {
    height: 80px;
    margin: 10px;
}

#content {
    position: relative;
    margin-top: $header-height;
    flex-grow: 2;
    .no_articles {
        font-size: 1.4em;
    }
}

#banner {
    position: relative;
    background-image: url('../images/banner.webp');
    background-position: center;
    background-size: 100% auto;
    width: 100%;
    height: calc(100vw * 0.280625);
    p {
        position: absolute;
        margin: 0;
        top: 10%;
        left: 15%;
        color: $blue;
        font-size: 4vw;
        font-family: Lato;
        font-weight: bold;
        text-shadow: 0.2vw 0.2vw 7px #7a7a7a;
    }
}

#footer {
    height: $footer-height;
    background-color: $blue;
    color: $yellow;
}

.wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    position: relative;
    font-family: Lato;
    font-weight: bold;
    font-size: 1.5em;
    a {
        background-color: #ffffff;
        white-space: nowrap;
        z-index: 3;
    }
    .submenu {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 6px;
        left: -6px;
        background-color: #ffffff;
        position: absolute;
        font-size: 0.8em;
        box-shadow: 5px 5px 10px rgba(0,0,0,.5);
        border-radius: 5px;
        opacity: 0;
        transition: .3s;
        pointer-events: none;
        z-index: 2;

    }
    .menu_entry {
        position: relative;
        &:hover .submenu {
            opacity: 1;
            pointer-events: all;
        }
    }
}

h1 {
    font-family: Lato;
    color: $blue;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    padding-bottom: 8px;
    border-bottom: 3px solid $blue;
    font-family: Lato;
    font-size: 2em;
    text-align: center;
    color: $blue;
}

h3 {
    font-family: Lato;
    font-size: 1.5em;
    color: $blue;
}

.tabs, .gallery_picker {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 40px;
    .tab_button {
        padding: 4px 8px;
        color: $blue;
        background-color: #ffffff;
        border: 1px solid $blue;
        border-radius: 0;
        cursor: pointer;
        &.active {
            background-color: $blue;
            color: $yellow;
            cursor: default;
        }
    }
}

.navigation {
    font-family: Lato;
    font-size: 1.2em;
    margin-top: 20px;
    a {
        &:after {
            content: "\ea75";
            font-family: 'IcoFont' !important;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            line-height: 1;
        }
        &:last-child::after {
            content: '';
        }
    }
}

.article {
    h1 {
        padding-bottom: 8px;
        border-bottom: 3px solid $blue;
        margin-top: 10px;
    }
    .article_image {
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 700px;
    }
}

$grid-gap: 16px;
$grid-gap-total-2: $grid-gap;
$grid-gap-total-3: $grid-gap * 2;
$grid-gap-total-4: $grid-gap * 3;
$grid-gap-diff-2: $grid-gap-total-2 / 2;
$grid-gap-diff-3: $grid-gap-total-3 / 3;
$grid-gap-diff-4: $grid-gap-total-4 / 4;
$grid-col-width-2: calc(50% - #{$grid-gap-diff-2});
$grid-col-width-3: calc(33.333333% - #{$grid-gap-diff-3});
$grid-col-width-4: calc(25% - #{$grid-gap-diff-4});

%columns-2 {
    display: grid;
    grid-template-columns: $grid-col-width-2 $grid-col-width-2;
    column-gap: $grid-gap;
    row-gap: $grid-gap;
}

%columns-3 {
    display: grid;
    grid-template-columns: $grid-col-width-3 $grid-col-width-3 $grid-col-width-3;
    column-gap: $grid-gap;
    row-gap: $grid-gap;
}

%columns-4 {
    display: grid;
    grid-template-columns: $grid-col-width-4 $grid-col-width-4 $grid-col-width-4 $grid-col-width-4;
    column-gap: $grid-gap;
    row-gap: $grid-gap;
}

.entries {
    margin-bottom: 50px;
    .entry {
        display: inline-block;
        width: 100%;
        padding: 16px;
        background-color: #ececf3;
        margin-bottom: 26px;
        &:last-child {
            margin-bottom: 0;
        }
        h3 {
            margin-top: 0;
            margin-bottom: 10px;
        }
        .entry_image {
            float: left;
            max-width: 230px;
            max-height: 300px;
            margin-right: 16px;
        }
        & > *:last-child {
            margin-bottom: 0;
        }
        p {
            margin-top: 0;
        }
        a {
            color: #083987;
        }
        .more {
            float: right;
        }
    }
    .entries {
        display: none !important;
        &.active {
            display: block !important;
        }
        &.columns.vertical.circle.active {
            display: flex !important;
        }
    }
}

.entries.columns {
    .entry {
        margin: 0;
        h3 {
            margin-bottom: 0;
        }
        .entry_image.no_image {
            background-color: white;
            border: 10px solid $blue;
        }
    }
}

.entries.columns.horizontal {
    @extend %columns-2;
    .entry {
        display: block;
        .entry_image {
            display: block;
            float: left;
            width: 240px;
            height: 140px;
            margin-right: 16px;
            background-size: cover;
        }
        h3 {
            text-align: center;
        }
        .title_and_text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            .more {
                align-self: end;
            }
          }
    }
}

.entries.columns.vertical {
    @extend %columns-4;
    row-gap: 32px;
    .entry {
        display: flex;
        flex-direction: column;
        padding: 0;
        background-color: transparent;
        .entry_image {
            display: block;
            width: 100%;
            height: 180px;
            max-width: none;
            max-height: none;
            margin-right: 0;
            margin-bottom: 16px;
            background-size: cover;
            background-position: center;
        }
        .title_and_text {
            text-align: center;
            flex-grow: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

.entries.columns.vertical.circle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 50px;
    .entry {
        width: 25%;
        h3 {
            text-transform: uppercase;
        }
        .entry_image {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            margin-bottom: 26px;
        }
    }
}

.entries.full {
    .entry {
        background-color: transparent;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        gap: 50px;
        .entry_image {
            max-width: none;
            max-height: none;
            margin-right: 0;
        }
    }
}

.entries.list {
    .entry {
        cursor: pointer;
        h3 {
            margin-bottom: 0;
        }
        .text_wrapper {
            overflow: hidden;
            height: 0px;
            transition: height .3s;
            .text {
                margin-top: 12px;
            }
        }
    }
}

.entries.columns.horizontal.gallery {
    @extend %columns-4;
    display:  none;
    &.active {
        display: grid;
    }
    .gallery_image .image {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }
}


$margin: 100px;

.fullscreen_gallery {
    display: none;
    position: fixed;
    grid-template-columns: $margin auto $margin;
    grid-template-rows: auto 250px;
    grid-template-areas: ". . ."
                         "thumbnails thumbnails thumbnails";
    background-color: rgba(0,0,0,0.8);
    &.active {
        display: grid;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 20;
    }
    .images {
        width: calc(100vw - #{2 * $margin});
        height: calc(100% - #{2 * $margin});
        position: relative;
        align-self: center;
        .image {
            max-width: calc(100vw - #{2 * $margin});
            max-height: 100%;
            display: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: transform .5s;
            margin: auto;
            left: 0;
            right: 0;
            &.previous {
                display: block;
                transform: translate(-100vw, -50%);
            }
            &.current {
                display: block;
                transform: translate(0, -50%);
            }
            &.next {
                display: block;
                transform: translate(100vw, -50%);
            }
        }
    }
    .navigation {
        width: $margin;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        z-index: 22;
        .arrow-left, .arrow-right {
            width: calc(100% - 40px);
            margin: 0 20px;
            opacity: 0.7;
        }
        .arrow-right {
            transform: rotate(180deg);
        }
    }
    .thumbnails {
        grid-area: thumbnails;
    }
}

#contact_grid {
    display: flex;
    margin-bottom: 30px;
    #contact_form {
        width: 50%;
        .contact_data {
            margin-bottom: 20px;
            text-align: center;
            line-height: 1.5em;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        input, textarea, button {
            padding: 8px 6px;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        button {
            background-color: $blue;
            color: $yellow;
            font-family: Lato;
        }
    }
    #contact_links {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        a {
            margin-bottom: 20px;
        }
        p {
            margin-top: 6px;
        }
        img {
            width: 200px;
        }
    }
}

.error_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        font-family: Lato;
    
        text-align: center;
        color: $blue;

        font-size: 4em;
        border-bottom: none;
        padding: 0;
        margin-top: 0;
        margin-bottom: 16px;
    }
    p {
        font-size: 1.5em;
        text-align: center;
    }
}